<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="FileMapper">

	<insert id="insert" parameterType="map">
	Insert into pics(
		lostpet,
		origin_name,
		unique_name,
		file_size
	)
	values (
		#{lostseq},
		#{originName},
		#{uniqueName},
		#{size}
	)	
	
	</insert>

	<select id="getPictureLink" parameterType="Integer" resultType="String">
	Select unique_name FROM pics
	where lostpet = #{id}
	 
	</select>
</mapper>