<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="PetMapper">
	<select id="findPetTypes" resultType="PetType">
	SELECT
		pet_name as petName,
		pet_type as petType
	FROM
		pets
	</select>
	<insert id="insertLostPet" parameterType="lostPet">
	INSERT INTO lost_pet 
		(owner, pet_breed, lat, lng, lost_time, title, `desc`, reward)
	VALUES
		(#{owner.email} , #{petBreed},#{lat},#{lng},#{lostTime},#{title},#{desc},#{reward})	
	</insert>
	<select id="findLostList" resultType="lostPet">
		SELECT
			seq,
			owner as email,
			pet_breed as petBreed,
			lat,
			lng,
			lost_time as lostTime,
			title, 
			`desc`,
			reward 
		FROM
			lost_pet
	</select>
	<select id="getMyPost" parameterType="String" resultType="lostPet">
		SELECT
			seq,
			owner as email,
			pet_breed as petBreed,
			lat,
			lng,
			lost_time as lostTime,
			title, 
			`desc`,
			reward 
		FROM
			lost_pet
		WHERE
			owner = #{email}
	</select>
	<select id="findBreeds" parameterType="String" resultType="string">
		select pet_name from pets 
		where pet_name like '%${value}%';
	</select>
	<sql id="pet_columns">
		seq ,
		desertion_no   AS  desertionNo,
		care_addr      AS careAddr,
		lat            AS lat,
		lng            AS lng ,        
		care_nm        AS careNm,		
		care_tel       AS careTel,		
		charge_nm      AS chargeNm,	
		animal_img     AS Popfile,	
		happen_dt      AS happenDt,	
		happen_place   AS happenPlace,	
		kind_cd        AS kindCd,		
		sex_cd         AS sexCd,		
		notice_sdt     AS noticeSdt,	
		notice_edt     AS noticeEdt,	
		notice_no      AS noticeNo,	
		office_tel     AS officeTel,
		process_state  AS processState,
		special_mark   AS specialMark,
	 	age 		   AS age,
	 	weight 		   AS weight,
	 	neuter_yn	   AS neuterYn
	</sql>
	<select id="findLostPets" parameterType="map" resultType="RemoteLostPet">
		select 
			<include refid="pet_columns"></include>
		from 
			rmt_lostinfo 
		where 
			happen_dt >= #{since}
			<if test="petType != null">
			AND
			kind_cd = #{petType}
			</if>
		order by 
			happen_dt desc
	</select>
	<select id="findPetsByShelter" parameterType="map" resultType="RemoteLostPet">
		select 
			<include refid="pet_columns"></include>
		from 
			rmt_lostinfo
		where
			care_tel = #{tel} limit #{offset} , #{size};
	</select>
	<select id="existPet" parameterType="long" resultType="RemoteLostPet">
		select 
			<include refid="pet_columns"></include>
		from 
			rmt_lostinfo 
		where 
			desertion_no = #{id}
	</select>
	<insert id="insertReomtePet" parameterType="RemoteLostPet">
		
		insert into rmt_lostinfo (
			desertion_no, 
			care_addr, 
			lat,
			lng,
			care_nm, 
			care_tel, 
			charge_nm, 
			animal_img, 
			happen_dt, 
			happen_place, 
			kind_cd, 
			sex_cd,
			notice_sdt, 
			notice_edt, 
			notice_no, 
			office_tel,
			special_mark,
			age,
			weight,
			neuter_yn
		) values (
			#{desertionNo},
			#{careAddr},
			#{lat},
			#{lng},
			#{careNm},
			#{careTel},
			#{chargeNm},
			#{popfile},
			#{happenDt},
			#{happenPlace},
			#{kindCd},
			#{sexCd},
			#{noticeSdt},
			#{noticeEdt},
			#{noticeNo},
			#{officeTel},
			#{specialMark},
			#{age},
			#{weight},
			#{neuterYn}
		);
	</insert>
	<update id="updateRemotePet" parameterType="RemoteLostPet">
		update rmt_lostinfo
		set
		process_state = #{processState}
		where
			desertion_no = #{desertionNo}
	</update>
	<insert id="insertPetBreeds" parameterType="PetType">
		insert into pets (
			pet_name,
			pet_type,
			kind_cd
		) values (
			#{petName},
			#{petType},
			#{kindCd}
		);
	</insert>
	<select id="findMatchingPets" parameterType="string" resultType="LostPet">
		SELECT
			seq,
			owner as email,
			pet_breed as petBreed,
			lat,
			lng,
			lost_time as lostTime,
			title, 
			`desc`,
			reward
		FROM 
			lost_pet 
		WHERE 
			notif = 1
		AND 
			pet_breed = #{value}
	</select>
	<select id="getShelter" parameterType="string" resultType="hashmap">
		select
			care_addr,
			lat,
			lng,
			care_nm,
			care_tel,
			charge_nm,
			office_tel
		from rmt_lostinfo 
		where care_tel = #{tel} limit 1;
	</select>
	
</mapper>